# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# testing
/coverage
/test-results
/playwright-report

# редактори та локальні інструменти
.claude/
.idea/
.vscode/
*.code-workspace

# misc
.DS_Store
*.pem
*.tsbuildinfo
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env*.local

# vercel
.vercel
